<head>
    <link rel="stylesheet" href="setting.css">
    <link rel="stylesheet" href="setting.js">
</head>

<div class="stitle container mt-3">
    <span class="sblue container">설정</span>
</div>

<!--지역과 성별 선택-->
<article class="setting1 container mt-3">
    <div class="row container">
        <div class="slocation col-6">
            
            <!--나의 기본 지역-->
              <div>
                <span class="sblack">나의 </span>
                <span class="sblue">기본 지역</span>
              </div>
             <!--지역선택-->
      <div class="offset-md-5 dropdown mt-3">
          <button class="btn btn-secondary dropdown-toggle col-3" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            지역 선택
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button"><a href="/home/setting?id=강원도">강원도</a></button>
            <button class="dropdown-item" type="button"><a href="/home/setting?id=경기도">경기도</a></button>
            <button class="dropdown-item" type="button"><a href="/home/setting?id=경상남도">경상남도</a></button>
            <button class="dropdown-item" type="button"><a href="/hoq5me/setting?id=경상북도">경상북도</a></button>
            <button class="dropdown-item" type="button"><a href="/home/setting?id=광주광역시">광주광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/home/setting?id=대구광역시">대구광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/home/setting?id=대전광역시">대전광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/home/setting?id=부산광역시">부산광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/home/setting?id=서울특별시">서울특별시</a></button>
            <button class="dropdown-item" type="button"><a href="/home/setting?id=세종특별자치시">세종특별자치시</a></button>
            <button class="dropdown-item" type="button"><a href="/home/setting?id=울산광역시">울산광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/home/setting?id=인천광역시">인천광역시</a></button>
            <button class="dropdown-item" type="button"><a href="/home/setting?id=전라남도">전라남도</a></button>
            <button class="dropdown-item" type="button"><a href="/home/setting?id=전라북도">전라북도</a></button>
            <button class="dropdown-item" type="button"><a href="/home/setting?id=제주특별자치도">제주특별자치도</a></button>
            <button class="dropdown-item" type="button"><a href="/home/setting?id=충청남도">충청남도</a></button>
            <button class="dropdown-item" type="button"><a href="/home/setting?id=충청북도">충청북도</a></button>
            
          </div>
        </div>

        </div>
   
    
        <!--나의 성별-->
        <!--<div class="col-5 sgender">-->
        <!--    <div>-->
        <!--        <span class="sblack">나의 </span>-->
        <!--        <span class="sblue">성별</span>-->
        <!--    </div>-->
            
            
            <!--select gender radio button-->
        <!--    <div class="gender mt-3">-->
        <!--    <form method="" name=""></form>-->
        <!--            <div class="row container">-->
        <!--                <div class="mr-3">-->
        <!--                    <input type="radio" id="female" name="gender" checked="checked"/>-->
        <!--                    <label for="female"><span class="female"></span></label>-->
        <!--                </div>-->
        <!--                <div>-->
        <!--                <input type="radio" id="male" name="gender" />-->
        <!--                <label for="male"><span class="male"></span></label>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--    </form>-->
        <!--    </div>-->
            
        <!--</div>-->
        
    </div>
    </div>
</article>

<!--나의 체감 온도를 지정-->
<article class="setting2 container">
    <div class="stemper container">
        <span class="sblack">나의 </span>
        <span class="sblue">체감 온도</span>
        
        
        <div class="mt-5">
        <input data-fix-max-value="5" data-orientation="horizontal" value="3" type="range" min="1" max="5">
        </div>
        <ul class="range-bar">
          <li class="range-text"> 추워</li>
          <li class="range-text"> 조금 추워 </li>
          <li class="range-text"> 보통</li>
          <li class="range-text"> 조금 더워</li>
          <li class="range-text"> 더워</li>
        </ul>
            
        
    </div>

    
</article>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/script.js">
	/*$('input').spunkySlider();*/

</script>
