  <head>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/mypage.css" >
  </head>
  <body>
    <div class="container">
      <!--We closet-->
      <div class="row">
            <div class="col-12">
              <br>
              <h4 class="text-center">Our Closet</h4> <br>
            </div>
      </div>
      <div class="row mb-2">
      <div class="col-4">
        <div>
          <!-- 좋아요랑 스크랩 버튼 만들기 -->
        </div>
        <div>
        <img class="upload-img" src="/assets/photo1.jpg" alt="업로드 사진" >
        </div>
      </div>
      <div class="col-4">
        <img class="upload-img" src="/assets/photo2.jpg" alt="업로드 사진" >
      </div>
      <div class="col-4">
        <img class="upload-img" src="/assets/photo3.jpg" alt="업로드 사진" >
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4">
        <img class="upload-img" src="/assets/photo7.jpg" alt="업로드 사진" >
      </div>
      <div class="col-4">
        <img class="upload-img" src="/assets/photo8.jpg" alt="업로드 사진" >
      </div>
      <div class="col-4">
        <img class="upload-img" src="/assets/photo9.jpg" alt="업로드 사진" >
      </div>
    </div>    
    <div class="row mb-2">
      <div class="col-4">
        <img class="upload-img" src="/assets/photo10.jpg" alt="업로드 사진" >
      </div>
      <div class="col-4">
        <img class="upload-img" src="/assets/photo11.jpg" alt="업로드 사진" >
      </div>
      <div class="col-4">
        <img class="upload-img" src="/assets/photo12.jpg" alt="업로드 사진" >
      </div>
    </div>
  </div>
  
