/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 
 */

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 
 */
 /*@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
 @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
 
/*html{*/
	
/*}*/

* {
    /*font-family: 'Nanum Gothic', sans-serif;*/
    font-family: 'Nanum Pen Script', cursive;
    font-size: 22px;
	color: #181818;
	line-height: 2;
	box-sizing: border-box;
}

/*.navbar{*/
/*    font-family: "Calisto MT","Bookman Old Style",Bookman,"Goudy Old Style",Garamond,"Hoefler Text","Bitstream Charter",Georgia,serif;*/
/*}*/

.navline{
    margin-top: 2px;
    border-bottom: 1px solid; color:gray; 
}

a.nav-link:hover, a.nav-link:active{  
    border-bottom: solid 2px; 
    color : blue;
}
/*.logoimg{*/
/*    width:auto;*/
/*    height:auto;*/
/*}*/

 .header{
    display:flex;
    justify-content:center;
       }
        
/*login btn hover 해제하기*/
a.nav-link:last-child:hover{
    border-bottom:#fff;
}
