* {
    /*font-family: 'Nanum Gothic', sans-serif;*/
    font-family: 'Nanum Pen Script', cursive;
    font-size: 22px;
	color: #181818;
	line-height: 2;
	box-sizing: border-box;
}

/*.navbar{*/
/*    font-family: "Calisto MT","Bookman Old Style",Bookman,"Goudy Old Style",Garamond,"Hoefler Text","Bitstream Charter",Georgia,serif;*/
/*}*/

.navline{
    margin-top: 2px;
    border-bottom: 1px solid; color:gray; 
}

a.nav-link:hover, a.nav-link:active{  
    border-bottom: solid 2px; 
    color : blue;
}
/*.logoimg{*/
/*    width:auto;*/
/*    height:auto;*/
/*}*/
.logoimg{
    width: 40px;
    height: 40px;

}

.logoimg img{
    width: 100%;
    height: auto;
}


 .header{
    display:flex;

       }
        
/*login btn hover 해제하기*/
a.nav-link:last-child:hover{
    border-bottom:#fff;
}

.welcome{
    width: 100%;
    height: 100%;
}

.panel{
    width: 50%;
}

.editor{
    margin-top: 150px;    
}
