article{
  height: 100%;
}

article.daily-weather{
  border:1px solid red;
}

article.weekly-weather{
  border: 1px solid blue;
  height: 100vh;
}


div.tcolor{
  height: 10%;
}

/*글씨색*/
span.black{
  font-size: 20px;
  font-weight: bold;
  color : black;
}
span.blue{
  font-size: 20px;
  font-weight: bold;
  color : blue;
}

div.now-weather{
  height: 40%
}

div.today-weather{
  height: 40%
}
/*now-weather css*/
div.now-weather{
  height: 50%;
  background-color: yellow;
}

div.nwtitle{
    height:auto;
    background-color:green;
}

div.nwcontent1{
    height:100px;
    background-color:pink;
}

#now-images{width: 100%; height: 100%;}

.after-icon{   height: 100%; }

div.nwcontent2{
    height:100px;
    background-color:red;
}
div.nwcontent3{
    height:100px;
    background-color:gray;
}
/*today-weather css*/
div.today-weather{
  height: 50%;
  background-color: pink;
}


/*weekly-weather table css*/
table.tweekly{
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 80%;
}
.weekly{
  background-color: #f7f9fa;
  height: 10%;
  font-size: 70%;
}
.weekly-content{
  height: 40%;
}

td{ width: 20%;}

img{
  width:40%;
  height: 15%;
}

.temper{color:red;}

.precipitation{color: blue;}
